<style>
#video {
    width: 640px;
    height: 480px;
    border: 1px solid black;
}

#recorte {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px dashed red;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    pointer-events: none; /* no bloquea clics */
}
</style>
<span id="cerrarCamara">x</span>
<div id="video-wrap" style="position: relative; display: inline-block;">
    <video id="video" playsinline autoplay></video>
    <div id="recorte"></div>
    <button id="snap">Capturar</button>
</div>

<canvas id="canvas" width="640" height="480" style="display:none; border:1px solid black;"></canvas>

<button id="guardar" style="display:none;">Guardar recorte</button>
<button id="repetir" style="display:none;">Repetir foto</button>
